*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#dropdown-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

#dropdown-trigger:hover {
  background-color: #f4f4f4;
}

.dropdown {
  display: none;
}

.dropdown.triggered {
  display: initial;
}

.dropdown-item {
  padding: 5px 10px;
  width: 100px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #0066ff;
  color: #ffffff;
}
